@import '../variables';

// @media (max-width: 800px) {
//   &-pizza {
//     display: flex;
//     flex: 0 1 250px;
//     flex-direction: column;
//     align-items: center;
//     align-content: center;
//   }
// }

.full_pizza {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  @media (max-width: 900px) {
    display: flex;
    flex-flow: column nowrap;
  }

  img {
    display: flex;
    align-content: center;
    max-width: 500px;
    width: 100%;
  }

  h2 {
    color: #fe5f20c0;
  }

  h3 {
    margin: 20px 0px 10px 0px;
    color: #7a7a7a;
  }

  &-ul {
    margin: 0px 0px 20px 0px;
    font-weight: 401;
    font-size: 17px;

    b {
      color: #494949;
    }
  }

  .pizza-block {
    width: 100%;
    max-width: 700px;
    margin-bottom: 25px;

    &__price {
      font-weight: 700;
      font-size: 25px;
    }

    &__selector ul li {
      font-weight: 400;
      font-size: 18px;
    }
  }

  &__info {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 500px;
    text-align: left;
  }
}

.pizza-block {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;

  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 260px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
}
